<!-- Egy adott munka összes dokumentumának listája -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8"/>
    <title></title>
</head>
<body>
<div th:if="${documents}">
    <div th:each="document: ${documents}">
        <a th:href="'/jobs/'+${job.id}+'/documents/'+${document.id}"
           th:text="#{${document.type}}">Vámdokumentum</a>
    </div>
</div>
<div th:unless="${documents}">
    <h1>Nincsenek dokumentumok ehhez a munkához!</h1>
</div>
</body>
</html>