<!-- Egy adott munka adott dokumentumának megtekintése -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8"/>
    <title></title>
</head>
<body>
<div th:if="${document}">
    <h1 th:text="#{${document.type}}">Dokumentum típusa</h1>

    <div th:each="page: ${document.pages}">
        <img th:src="'/jobs/'+${job.id}+'/documents/'+${document.id}+'/'+${page.id}"/>
        <hr/>
    </div>
</div>
<div th:unless="${document}">
    <h1>Nincs ilyen dokumentum!</h1>
</div>
</body>
</html>