<!-- Hibaoldal -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8"/>
    <title></title>
</head>
<body>
<p th:text="#{${message}}">Page not found</p>
</body>
</html>