<!-- Szerver status oldal -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8"/>
    <meta http-equiv="refresh" content="5"/>
    <title></title>
</head>
<body>
<h1>
    Állapot: az alkalmazás fut.
</h1>
<hr/>
<div th:unless="${running}">
    <div th:if="${lastResult}">
        <p>Hiba lépett fel a táblzatok importáláskor:</p>

        <p th:text="${lastResult}">Kivétel infó, stb...</p>
    </div>
    <div th:unless="${lastResult}">
        <p>Táblázatok importálása sikeres volt!</p>
    </div>
    <div th:if="${importTime}">
        <p>Idotartam:</p>

        <p th:text="${importTime}">12 masodperc</p>
    </div>
    <form action="dataImport" method="post">
        <input type="hidden" name="full" value="true"/>
        <input type="submit" value="Google táblázatok teljes újraimportálása"/>
    </form>
    <form action="dataImport" method="post">
        <input type="hidden" name="full" value="false"/>
        <input type="submit" value="Google táblázatok részleges újraimportálása (utolsó 2 hét)"/>
    </form>
</div>
<p th:if="${running}">
    Táblázatok importálása folyamatban...
</p>

<form action="exportDocuments" method="post">
    <input type="submit" value="Dokumentumok exportalasa"/>
</form>
<form action="importDocuments" method="post">
    <input type="submit" value="Dokumentumok importalasa"/>
</form>
</body>
</html>